<div class="container-fluid">
  <div class="row">
    <div class="col bg-dark text-white">
      <div class="navbar-brand">SPORTS STORE</div>
      <div class="float-end navbar-text">
        <store-cartsummary />
      </div>
    </div>
  </div>
</div>
<div class="col-3 fixed-bottom mb-1">
  <a class="btn btn-block btn-secondary" routerLink="/admin"> Administration </a>
</div>
<div class="row g-0">
  <div class="col-2">
    <store-categoryfilter />
  </div>
  <div class="col">
    <store-product-list />
    <store-pagination />
  </div>
</div>
