<form [formGroup]="productForm">
  <div class="form-group">
    <label>Name</label>
    <input class="form-control" formControlName="name" />
  </div>
  <div class="form-group">
    <label>Category</label>
    <input class="form-control" formControlName="category" />
  </div>
  <div class="form-group">
    <label>Supplier</label>
    <select
      class="form-control"
      formControlName="supplier"
      [compareWith]="compareSuppliers">
      @for (s of suppliers; track s) {
      <option [value]="s.supplierId">{{ s.name }}</option>
      }
    </select>
  </div>
  <div class="form-group">
    <label>Description</label>
    <textarea class="form-control" formControlName="description"></textarea>
  </div>
  <div class="form-group">
    <label>Price</label>
    <input type="number" class="form-control" formControlName="price" />
  </div>
</form>
